*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Rubik', sans-serif;
    font-family: 'Rufina', serif;
    text-rendering: optimizeLegibility;
}

:focus{
    outline: 0;
}
ul{margin: 0;
padding: 0;}
li{list-style: none;}
.wrapper{overflow: hidden;}
.container{max-width: 1170px;}

/*=============HEADER-SECTION========*/
/*====================================*/

.container-fluid{
    padding: 0;
}
.header-section {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.header-menu ul{
   display: flex;
}
.header-menu ul li{
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}
.header-menu ul li a{
    font-size: 1.4rem;
    color: #000a2d;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    padding-bottom: 2rem;
}
.header-menu ul li:hover a{
    color:#ff3d4f;
    border-bottom: .2rem solid #ff3d4f;
}
.header-menu ul li.active a{
    color:#ff3d4f;
    border-bottom: .2rem solid #ff3d4f;
}
.header-btn{
    display: flex;
    justify-content: flex-end;
}
.header-btn a, .about-left-btn a{
    display: inline-block;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    width: 16.8rem;
    height: 5rem;
    background: #ff3d4f;
    text-decoration: none;
    padding-top: 1.4rem;
    border-radius: 2.5rem;
}
.header-nav{
    padding-left: 2rem;
}
.header-nav i{
    font-size: 1.4rem;
    color: #ff3d4f;
    text-align: center;
    background: #fff7fa;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    border-radius: 3rem;
    padding-top: 1.7rem;
    cursor: pointer;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(255, 194, 200, 0.3);

}


/*=================SLIDER-SECTION=========*/
/*=========================================*/

.slider-section{
    background: #f6f5ff;
}
.slider-left{
    padding-top: 20.5rem;
    padding-bottom: 20.5rem;
}
.slider-left span{
    font-size: 2rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}
.slider-left h1{
    margin: 0;
    font-size: 9rem;
    letter-spacing: -.3rem;
    line-height: 10rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.slider-left p{
    width: 67.1rem;
    height: 4.9rem;
    font-size: 2rem;
    line-height: 3rem;
    color: #6e7797;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 8.5rem;
}
.slider-btn-video{
    display: flex;
}
.slider-btn-video .slider-btn{
    padding-right: 2rem;
}
.slider-btn-video .slider-btn a{
    display: block;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background: #ff3d4f;
    width: 20rem;
    height: 6rem;
    text-align: center;
    text-decoration: none;
    border-radius: 3rem;
    padding-top: 1.8rem;
}
.slider-btn-video .slider-video{
    display: flex;
}
.slider-btn-video .slider-video i{
    font-size: 1.4rem;
    color: #ff3d4f;
    text-align: center;
    width: 6rem;
    height: 6rem;
    background: #ffffff;
    border-radius: 50%;
    padding-top: 2.3rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(255, 194, 200, 0.3);
}
.slider-btn-video .slider-video span{
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: #ff3d4f;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    padding-left: 2rem;
}
.slider-img{}
.slider-img img{
    max-width: 134%;
    margin-top: 3.9rem;
    margin-left: 2rem;
}

/*=============ABOUT-ME==============*/
/*==================================*/


.about-me-content{
    padding-top: 11.5rem;
    padding-bottom: 12rem;
    border-bottom: .1rem solid #f0ecff;
}
.about-left{}
.about-left span{
    display: inline-block;
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.about-left h2{
    margin: 0;
    font-size: 7rem;
    letter-spacing: -.2rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
}

.about-right{}
.about-right p{
    width: 57rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #6e7797;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
.about-btn{
    display: flex;
    padding-top: 1.5rem;
}
.about-left-btn{
    padding-right: 2rem;
}
.about-left-btn a{
    height: 6rem;
    padding-top: 2rem;
    border-radius: 3rem;
    transition: .3s;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.about-right-btn a{
    display: block;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: #79819e;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border:.1rem solid #e5e8ff;
    width: 24.5rem;
    height: 6rem;
    text-decoration: none;
    border-radius: 3rem;
    padding-top: 2rem;
    transition: .3s;
}
.about-right-btn a:hover{
    background: #ff3d4f;
    color:#ffffff;
}
.about-left-btn a:hover{
    color: #79819e;
    background: #ffffff;
    border:.1rem solid #e5e8ff;
}


/*===========SERVICE-SECTION===========*/
/*=======================================*/

.service-section{
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.single-service{
    border:.8rem solid #f7f8ff;
    padding-left: 5rem;
    padding-top: 5rem;
}
.single-service h4{
    margin: 0;
    font-size: 2.4rem;
    letter-spacing: -1px;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
}
.single-service p{
    width: 25.6rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #6e7797;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
.single-service ul{
    padding-bottom: 3rem;
}
.single-service ul li{
    font-size: 1.4rem;
    color: #6e7797;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-bottom: 1.7rem;
}
.single-service ul li i{
    font-size: 1.4rem;
    color: #ff3d4f;
    padding-right: 2rem;
}



/*==================SKILL-SECTION=================*/
/*================================================*/

.skill-section{
    background: #f6f5ff;
    padding-top: 12rem;
    padding-bottom:12rem    
}
.skill-img img{
    max-width: 100%;
}
.skill-content h5{
    margin: 0;
    font-size: 1.4rem;
    color: #6e7797;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    padding-bottom: 2.5rem;
}
.barfiller {
   width: 100%;
   height: 2rem;
   background: #ffffff;
   position: relative;
   margin-bottom: 3.7rem;
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background:#333;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    font-size: 1.2rem;
    left: 0px;
    position: absolute;
    z-index: 2;
    margin-left: -1.3rem;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
} 

.skill-heading{
    padding-bottom: 6rem;
}
.skill-heading span{
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family:'Rubik', sans-serif;
    display: block;
    padding-bottom: 2rem;
}
.skill-heading h2{
    margin: 0;
    font-size: 7rem;
    letter-spacing: -.2rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
}
.skill-padding{padding:0;}
.skill-img-padding{
    padding-right: 8rem;
}
.skill-right-wrap{
    padding-top: 2.5rem;
}
/*==============PORTFOLIO-SECTION============*/
/*============================================*/

.portfolio-section{
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.portfolio-heading{
    padding-bottom: 8rem;
}
.portfolio-heading span{
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family:'Rubik', sans-serif;
}
.portfolio-heading h2{
    margin: 0;
    font-size: 7rem;
    letter-spacing: -.2rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
    padding-top: 2rem;

}
.filter_tab ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
}
.filter_tab ul li{
    font-size: 1.4rem;
    color: #000a2d;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding-left: 2.9rem;
    padding-right: 2.9rem;
    padding-bottom: 2rem;
    cursor: pointer;
    border-bottom: .2rem solid #f0ecff;
}
.filter_tab ul li.mixitup-control-active{
    color:#ff3d4f;
    border-bottom:.3rem solid #ff3d4f;
}
.each_portfolio{}
.each_portfolio img{
    max-width: 100%;
}
.portfolio-1 img{
    width: 77rem;
    height: 49rem;
}

.portfolio-2 img{
    width: 39.5rem;
    height: 39.5rem;
}
.common-portfolio img{
    width: 37rem;
    height: 30rem;
}
.portfolio-3 img{
    width: 39.5rem;
    height: 39.5rem;
}
.each_portfolio.portfolio-3 {
    margin-top: -9.5rem;
}
.filter-padding{
    padding:.5rem;
}
.filter-padding2{
    width: 39.5rem;
    height: 39.5rem;
    padding:.5rem;
}




/*==============EXPERIENCE-SECTION===========*/
/*===========================================*/

.experience-section{
    background: #f6f5ff;
    padding-bottom: 9rem;
}
.experience-heading, .team-heading, .contact-heading, .news-heading{
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 6rem;
}
.experience-heading span, .education-info-head span, .team-heading span, .contact-heading span, .news-heading span{
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family:  'Rubik', sans-serif;
}
.experience-heading h2, .education-info-head h2, .team-heading h2, .contact-heading h2, .news-heading h2{
   margin: 0 auto;
   font-size: 7rem;
   letter-spacing: -.2rem;
   line-height: 9rem;
   color: #000a2d;
   font-weight: 700;
   font-family: 'Rufina', serif;
   text-transform: capitalize;
   width: 51.3rem;
   padding-top: 1.5rem;
}
.single-experience{
    background: #ffffff;
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
}
.img-heading{
    display: flex;
}
.img-heading i{
    font-size: 2.4rem;
    color: #ff3d4f;
    width: 8rem;
    height: 8rem;
    background: #fff2f3;
    text-align: center;
    padding-top: 2.5rem;
}
.img-heading .single-ex-heading{}

.img-heading .single-ex-heading h6{
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family: "Rubik";
    padding-top: 1rem;
    padding-left: 2.5rem;
}
.img-heading .single-ex-heading h4{
    margin: 0;
    font-size: 2.6rem;
    line-height: 2.4rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    padding-top: 1rem;
    padding-left: 2.5rem;
}
.single-experience p{
    width: 28.7rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #6e7797;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding-top: 2.5rem;
}


/*==================EDUCATION-SECTION==============*/
/*==================================================*/


.education-section{
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.education-info-head h2{
    width: auto;
    padding-bottom: 2.5rem;
}
.single-education{
    padding-bottom: 3rem;
}
.single-education h6{
    margin: 0;
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}
.single-education h4{
    font-size: 2.6rem;
    color: #000a2d;
    font-weight: 700;
    font-family:'Rufina', serif;
    padding-top: 1.2rem;
    padding-bottom: 1.7rem;
}
.single-education p{
    width: 390px;
    font-size: 1.4rem;
    line-height: 26px;
    color: #6e7797;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
.single-education-wrap{
    display: flex;
}
.single-education-content {
    padding-top: .5rem;
    padding-left: 1rem;
}
.education-right{padding-left: 3rem;}

.education-right img{
    width: 40rem;
    height: 40rem;
    margin-top: -14.3rem;
}
.edu-img-2 img{
   width: 52rem;
   height: 54rem;
   position: relative;
   left: 10rem;
   top: -10%;
}
.education-right i{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 8rem;
    height: 8rem;
    background: #ff3d4f;
    padding-top: 3rem;
    position: absolute;
    top: 37.5rem;
    left: 10rem;
}

/*===============TEAM-SECTION===========*/
/*======================================*/

.team-section{
    background: #f6f5ff;
}
.single-team-wrap{
    padding-bottom: 22rem;
}
.single-team {
    position: relative;
}
.single-team img{
    width: 100%;
    height: 42rem;
}
.team-content{
    text-align: center;
    background: #ffffff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: 0.5rem 15px 1rem -1rem #ebe9f6;
    position: absolute;
    bottom: -11.5rem;
    right: 2.5rem;
    left: 2.5rem;
}
.team-content h4{
    margin: 0;
    font-size: 2.4rem;
    letter-spacing: -.1rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
}
.team-content span{
    font-size: 1.4rem;
    letter-spacing: .3rem;
    color: #ff3d4f;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.team-social ul{
    display: flex;
    justify-content: center;
}
.team-social ul li{
    padding-left: .7rem;
    padding-right: .7rem;
}
.team-social ul li i{
    font-size: 1.4rem;
    color: #c1bfd8;
}


/*==============CONTACT-SECTION============*/
/*=========================================*/

.contact-section{
    background: url(../img/contact-background.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 12.5rem;
}
.contact-form{}
.contact-form label{
    font-size: 1.4rem;
    color: #000a2d;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    padding-bottom: .5rem;
}
.contact-form span{
    color:#ff3d4f;
    font-size: 1.4rem;
    margin-left: .6rem;
    font-weight: bold;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea{
    font-size: 1.4rem;
    color: #000;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    display: block;
    width: 57rem;
    height: 6.5rem;
    background: #ffffff;
    border:.2rem solid #dadceb;
    padding-left: 4rem;
    padding-right: 4rem;
}
.contact-form input:placeholder{
    color: #6e7797;
    opacity: 1;
}
.contact-form .single-input{
    padding-bottom: 3.4rem;
}
.contact-form textarea{
    height: 21.5rem;
    padding-top: 3rem;
}
.contact-form input[type="submit"]{
    font-size: 1.4rem;
    letter-spacing: .3rem;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    width: 23rem;
    height: 6rem;
    background: #ff3d4f;
    border-radius: 3rem;
    border:none;
}
#contact-map{
    width: 100%;
    min-height: 400px;
}


/*==========COUNTER-SECTION=============*/
/*=========================================*/

.counter-section{
    background: #f5f5ff;
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.single-counter{
    text-align: center;
}
.single-counter img{
    width: 12rem;
    height: 12rem;
}
.single-counter span{
    font-size: 60px;
    letter-spacing: -2px;
    color: #000a2d;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    display: block;
}

.single-counter p{
    font-size: 1.4rem;
    color: #959cb4;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}


/*============TESTIMONIAL-SECTION=======*/
/*=====================================*/

.testimonial-section{
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.testimonial-heading{}
.testimonial-heading span{
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}
.testimonial-heading h2{
    font-size: 7rem;
    letter-spacing: -.2rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
    padding-top: 1.5rem;
    padding-bottom: 8rem;
}

.single-testimonial{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border:.2rem solid #dadceb;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
   
}
.single-testimonial i{
    font-size: 1.4rem;
    color: #ffae00;
    padding-right: .8rem;
}
.single-testimonial span{
    font-size: 1.8rem;
    letter-spacing: -.1rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
    padding-left: 2rem;
}
.single-testimonial p{
    width: 29rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #959cb4;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding-top: 2.7rem;
    padding-bottom: 1.5rem;
}
.client-content{
    display: flex;
}
.client-content .client-img img{
    width: 5rem;
    height: 5rem;
}
.client-content .client-info{
    padding-left: 2.5rem;
}
.client-content .client-info h5{
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    text-transform: capitalize;
}
.single-testimonial .client-content .client-info span{
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    display: block;
    margin-left: -2.4rem;
}

.owl-carousel .owl-nav.disabled{display: block;}
.owl-prev .fa-angle-left::before {
    content: "\f060";
    position: absolute;
    color: #ff3d4f;
    padding: 1.7rem;
    font-size: 4rem;
}
.owl-next .fa-angle-right::before {
    content: "\f061";
    color: #ff3d4f;
    padding: 1.7rem;
    font-size: 4rem;
}
.owl-prev{
    position: absolute;
    top: -49%;
    right: 11%;
}
.owl-next{
    position: absolute;
    top: -42%;
    right: -.7rem;
}
button:focus {
    outline: 0;
}

/*============NEWS-SECTION=================*/
/*=========================================*/

.news-section{
    background: #f6f5ff;
    padding-bottom: 12rem;
}
.news-left-sec{}
.news-left-sec img{
    width: 65.3rem;
    height: 48rem;
}
.news-left-content{
    padding-left: 4rem;
    padding-bottom: 4rem;
    background: #ffffff;
    margin-top: -8.3rem;
}
.news-heading{
    display: inline-block;
    padding-right: 3rem;
}
.news-heading i{
    font-size: 1.4rem;
    color: #ff3d4f;
    padding-right: .5rem;
}
.news-heading span{
    font-size: 1.4rem;
    color: #ff3d4f;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.news-left-content h3{
    margin: 0;
    font-size: 2.6rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    margin-top: -4rem;
    padding-bottom: 2.5rem;

}
.news-left-content p{
    width: 59.1rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #959cb4;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 1rem;
}
.news-left-content a{
    font-size: 1.4rem;
    color: #ff3d4f;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    text-decoration: underline;
}
.news-right-sec{
    background: #ffffff;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-bottom: 4.5rem;
    margin-bottom: 3rem;
}
.news-right-sec .news-heading{
    display: inline-block;
    padding: 0;
    padding-right: 3rem;
}
.news-right-sec h3{
    margin: 0;
    padding-top: .7rem;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: #000a2d;
    font-weight: 700;
    font-family: 'Rufina', serif;
    width: 39.8rem;
}

/*============FOOTER-SECTION=========*/
/*==================================*/

.footer-section{
    background: #000a2d;
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
}
.footer-left{}
.footer-left img{
    width: 9rem;
    height: 3rem;
}
.footer-left p{
    width: 30rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #a4acc9;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding-top: 2.5rem;
    padding-bottom: 1.7rem;
}
.footer-social ul{
    display: flex;
}
.footer-social ul li{
    padding-left: .7rem;
    padding-right: .7rem;
}
.footer-social ul i{
    font-size: 1.4rem;
    color: #a4acc9;
}
.footer-right{
    padding-left: 6.6rem;
}
.footer-right h3{
    margin: 0;
    font-size: 4rem;
    letter-spacing: -.1rem;
    line-height: 5rem;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Rufina', serif;
    padding-bottom: 6rem;
}
.footer-contact{
    display: inline-block;
    padding-right: 7rem;
    padding-right: 6.3rem;
}
.footer-contact span{
    font-size: 1.4rem;
    letter-spacing: .3rem;
    color: #afb5c9;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    display: block;
    padding-bottom: 1.7rem;
}
.footer-contact p{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Rufina', serif;
}
.p-padding {
    margin-top: -1rem;
}









